* {
  box-sizing: border-box;
}

body {
    padding: 15px;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;

}

.userCard {
    margin: 10px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: 300px;
    min-width: 260px;
    flex-grow: 1;
    min-width: 260px;
    max-width: 400px;

}
.editBtn {
    align-self: flex-end;
}
.userDescription {
    text-align: center;
}
.userImg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -20px;

}
.memberSection {
   
    align-self: stretch;

    display: flex;
    justify-content: space-between;

}
.cardFooter {

}
.socialLinks {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.sicialLinkItem {

}